# helper's documentation (pls don't judge me)
PROJECT_AI_CONTEXT.md

# personal notes
notes/*.md

# node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# database (SQLite)
memorybook.db
memorybook.db-shm
memorybook.db-wal

# user Uploads (keep directory, ignore contents)
public/uploads/*
!public/uploads/.gitkeep

# environment and secrets for admin keys
.env

# group members documentation for each of their part
documentation/