# my helper's documentation  (don't judge me pls)
PROJECT_AI_CONTEXT.md

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Database (SQLite)
database/*

# keep images and db folder and hide its contents
assets/images/sample-contents/*
assets/images/user-uploads/*

!assets/images/sample-contents/.gitkeep
!assets/images/user-uploads/.gitkeep
!database/.gitkeep


# environment and secrets for admin keys
.env

# group members documentation for each of their part
documentation/
